.clickable {
    cursor: pointer;
}
.red {
    color: red
}

.itemListBadge {
    padding: 5px 10px;
    margin: 2px 5px;
}
.itemListBadge a {
    color: white;
    text-decoration: underline;
}
.itemListBadge .badge {
    margin-left: 5px;
    cursor: pointer;
}