.clickable {
    cursor: pointer;
}
.red {
    color: red
}
.green {
    color: green;
}

.itemListBadge {
    padding: 5px 10px;
    margin: 2px 5px;
}
.itemListBadge a {
    color: white;
    text-decoration: underline;
}
.itemListBadge .badge {
    margin-left: 5px;
    cursor: pointer;
}
.treeview {
    list-style-type: none;
}
.horizontal-line { 
    width:100%;
    border-bottom: 1px solid #000; 
    line-height:0.1em; 
}
.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}
.cursor-default {
    cursor: default;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-help {
    cursor: help;
}
.text-xxs {
    font-size: xx-small;
}
.text-xs {
    font-size: x-small;
}
.text-sm {
    font-size: small;
}
.text-md {
    font-size: medium;
}
.text-lg {
    font-size: large;
}
.text-xl {
    font-size: x-large;
}
.text-xxl {
    font-size: xx-large;
}
.text-bold {
    font-weight: bold;
}
.text-bolder {
    font-weight: bolder;
}
.text-lighter {
    font-weight: lighter;
}
.text-underline {
    text-decoration: underline;
}
.text-strikethrough {
    text-decoration: line-through;
}